export PEQOD_MYSQL_NAME=
export PEQOD_MYSQL_USER=
export PEQOD_MYSQL_PW=
export PEQOD_MYSQL_HOST=
export PEQOD_CATALOG_LOCATION=
export PEQOD_MEMCACHE_LOCATION=
export PEQOD_SECRET_KEY=
export PEQOD_STATIC_ROOT=
export PEQOD_CATALOG_LOGS_DIR=
export PEQOD_SENTRY_DSN=