{% extends "base.html" %}
{% load cutags %}

{% block title %}Columbia Catalog - List of Departments{% endblock %}

{% block content %}
    <div class="py-1 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="col">
                            <div style="text-align: center">Jump:
                                <a href="#secA">A</a> <a href="#secB">B</a> <a href="#secC">C</a> <a href="#secD">D</a> <a href="#secE">E</a> <a href="#secF">F</a> <a href="#secG">G</a> <a href="#secH">H</a> <a href="#secI">I</a> <a href="#secJ">J</a> K <a href="#secL">L</a> <a href="#secM">M</a> <a href="#secN">N</a> <a href="#secO">O</a> <a href="#secP">P</a> <a href="#secQ">Q</a> <a href="#secR">R</a> <a href="#secS">S</a> <a href="#secT">T</a> <a href="#secU">U</a> <a href="#secV">V</a> <a href="#secW">W</a> X Y Z
                            </div>
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Department</th>
                                            <th scope="col">Classes</th>
                                            <th scope="col">Instructors</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dep in deps %}
                                        <tr{% ifchanged %} id="sec{{ dep.department|make_list|first }}"{% endifchanged %}>
                                            <td><a href="{% url "department" dep.department|removeslash %}">{{ dep.department }}</a></td>
                                            <td>{{ dep.count_classes }}</td>
                                            <td>{{ dep.count_instructors }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
