{% if instructor %}
{{ instructor.name }}
{% if instructor.culpa_link or instructor.wikipedia_link %}{% endif %}
{% if instructor.culpa_link %}
    <a href="{{ instructor.culpa_link }}" class="btn btn-outline-info btn-sm" role="button">
        CULPA: {{ instructor.culpa_reviews_count }}
    </a>
{% endif %}
{% if instructor.wikipedia_link %}
    <a href="{{ instructor.wikipedia_link }}" class="btn btn-outline-info btn-sm" role="button">
        Wikipedia
    </a>
{% endif %}
<a href="{% url 'instructor' instructor.name %}" class="btn btn-outline-info btn-sm" role="button">
    Info
</a>
{% endif %}