{% extends "base.html" %}
{% load cutags %}

{% block title %}Columbia Catalog{% endblock %}

{% block content %}
    <div class="py-1 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4>{{ instructor.name }}</h4>
                                <p class="card-text">
                                    Department: {{ departments|join:", " }}
                                </p>
                                <p>
                                {% if instructor.culpa_link %}
                                    <a href="{{ instructor.culpa_link }}" class="btn btn-outline-info btn-sm" role="button">
                                        CULPA: {{ instructor.culpa_reviews_count }}
                                    </a>
                                {% else %}
                                    <a class="btn btn-outline-secondary btn-sm disabled">No CULPA reviews</a>
                                {% endif %}
                                {% if instructor.wikipedia_link %}
                                    <a href="{{ instructor.wikipedia_link }}" class="btn btn-outline-info btn-sm" role="button">
                                        Wikipedia
                                    </a>
                                {% else %}
                                    <a class="btn btn-outline-secondary btn-sm disabled">No Wikipedia Page</a>
                                {% endif %}
                                </p>
                            </div>
{#                          Courses #}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Courses</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in courses %}
                                    <tr id="{{ course.id }}">
                                        <th scope="row">
                                            {{ course.course_code }}
                                        </th>
                                        <td>
                                            {{ course.course_title }}
                                            {% if course.course_subtitle and not course.course_subtitle in course.course_title %}
                                                <div class="font-italic">{{ course.course_subtitle }}</div>
                                            {% endif %}
                                        </td>
                                        <td>{% if course.scheduled_days %}{{ course.scheduled_days }}{% endif %}</td>
                                        <td><a class="btn btn-link" href="{% url 'course' course.course_code course.get_term %}">
                                            {{ course.semester}} {{ course.year}}
                                        </a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
{#                          End of Courses #}
                        </div>

{#                          CULPA Reviews #}
                    {% if instructor.culpa_reviews %}
                        <div class="card shadow-sm" style="margin-top: 20px; padding-left: 20px; padding-right: 20px;">
                            <div class="card-body">
                                <h4>CULPA Reviews</h4>
                                (Copy from <a href="{{ instructor.culpa_link }}">CULPA.info</a>)
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 90px;">Date</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for review in instructor.culpa_reviews %}
                                <tr>
                                    <td>
                                        {{ review.publish_date | to_date | date:"M d" }}<br/>
                                        {{ review.publish_date | to_date | date:"Y" }}
                                    </td>
                                    <td>
                                        {{ review.text | linebreaks }}
                                        <strong>Workload</strong>:
                                        {{ review.workload | linebreaks }}
                                        <i>Agreed: {{ review.agree_count }} Disagreed: {{ review.disagree_count }} Funny: {{ review.funny_count }}</i>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
{#                  End CULPA Reviews #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}