{% extends "base.html" %}
{% load static %}
{% load cutags %}

{% block title %}Peqod :: {{ instructor.name }}{% endblock %}

{% block content %}
    <div class="py-1 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                {% if instructor.great_teacher_award %}
                                    <a href="https://www.socgtoday.com/masterrecipientlist" style="text-decoration: none; display: block; text-align: center; float: right; ">
                                        <img src="{% static 'gta.png' %}" height="135" width="52" alt="Great Teacher Award {{ instructor.great_teacher_award }}" title="Great Teacher Award {{ instructor.great_teacher_award }}" />
                                        <br/>
                                        Great Teacher<br/>Award {{ instructor.great_teacher_award }}
                                    </a>
                                {% endif %}
                                <h4>
                                    {{ instructor.name }}
                                </h4>
                                <p class="card-text">
                                    Department: {{ departments|join:", " }}
                                </p>
                                <p>
                                {% if instructor.culpa_link %}
                                    <a href="{{ instructor.culpa_link }}" class="btn btn-outline-info btn-sm" role="button">
                                        CULPA: {{ instructor.culpa_reviews_count }} {% include "instructor_nugget_include.html" %}
                                    </a>
                                {% else %}
                                    <a class="btn btn-outline-secondary btn-sm disabled">No CULPA reviews</a>
                                {% endif %}
                                {% if instructor.wikipedia_link %}
                                    <a href="{{ instructor.wikipedia_link }}" class="btn btn-outline-info btn-sm" role="button">
                                        Wikipedia
                                    </a>
                                {% else %}
                                    <a class="btn btn-outline-secondary btn-sm disabled">No Wikipedia Page</a>
                                {% endif %}
                                {% if instructor.gscholar_hindex %}
                                    <a href="https://scholar.google.com/citations?user={{ instructor.gscholar_id }}" class="btn btn-outline-info btn-sm" role="button">
                                        h-index: {{ instructor.gscholar_hindex }}
                                    </a>
                                {% else %}
                                    <a class="btn btn-outline-secondary btn-sm disabled">No Google Scholar</a>
                                {% endif %}
                                </p>
                            </div>
{#                          Courses #}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Courses</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in courses %}
                                    {% ifchanged course.course_code course.course_title course.course_subtitle course.scheduled_days course.semester course.year %}
                                    <tr id="{{ course.id }}">
                                        <th scope="row">
                                            {{ course.course_code }}
                                        </th>
                                        <td>
                                            {{ course.course_title }}
                                            {% if course.course_subtitle and not course.course_subtitle in course.course_title %}
                                                <div class="font-italic">{{ course.course_subtitle }}</div>
                                            {% endif %}
                                        </td>
                                        <td>{% if course.scheduled_days %}{{ course.scheduled_days }}{% endif %}</td>
                                        <td><a class="btn btn-link" href="{% url 'course' course.course_code|course_code_urlize course.get_term %}">
                                            {{ course.semester}} {{ course.year}}
                                        </a></td>
                                    </tr>
                                    {% endifchanged %}
                                {% endfor %}
                                </tbody>
                            </table>
{#                          End of Courses #}
                        </div>

{#                          CULPA Reviews #}
                    {% if instructor.culpa_reviews %}
                        <div id="culpareviews" class="card shadow-sm" style="margin-top: 20px; padding-left: 20px; padding-right: 20px;">
                            <div class="card-body">
                                <h4>CULPA Reviews</h4>
                                (Copy from <a href="{{ instructor.culpa_link }}">CULPA.info</a>)
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 90px;">Date</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for review in instructor.culpa_reviews %}
                                <tr>
                                    <td>
                                        {{ review.publish_date | to_date | date:"M d" }}<br/>
                                        {{ review.publish_date | to_date | date:"Y" }}
                                    </td>
                                    <td>
                                        {% for course in review.course_codes %}
                                            <small class="text-muted">{{ course.c }}</small> <b>{{ course.t }}</b><br/>
                                        {% endfor %}
                                        {{ review.text | linebreaks }}
                                        <strong>Workload</strong>:
                                        {{ review.workload | linebreaks }}
                                        <i>Agreed: {{ review.agree_count }} Disagreed: {{ review.disagree_count }} Funny: {{ review.funny_count }}</i>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
{#                  End CULPA Reviews #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}