{% if page_obj.has_next or page_obj.has_previous %}
    <div class="col">
        <nav class="blog-pagination" aria-label="Pagination">
            {% if page_obj.has_next %}
                <a class="btn btn-outline-secondary" href="{{ page_url }}&p={{ page_obj.next_page_number }}">Next</a>
            {% else %}
                <a class="btn btn-outline-secondary disabled" href="#" aria-disabled="true">Next</a>
            {% endif %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-secondary" href="{{ page_url }}&p={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            {% else %}
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            {% endif %}
        </nav>
    </div>
{% endif %}
